@media screen and (max-width:1024px){//height:576px
    .contact{
        .contactInfoStage{
            .left{
                flex: 100%;
                .line{
                    width: 80%;
                }
                .buttonStage{
                    button{
                        width: 30%;
                    }
                }
            }
            .right{
                flex: 100%;
                .line{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .contact{
        .contactInfoStage{
            .left{
                flex: 100%;
                .line{
                    width: 80%;
                }
                .formStage{
                    .buttonStage{
                        width:100%;
                        button{
                            width: 80%;
                        }
                    }
                }
            }
            .right{
                flex: 100%;
                .line{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    .contact{
        .contactInfoStage{
            flex-direction: column;
            .left{
                flex: 100%;
                margin-bottom: 5%;
                margin-left: 0%;
                .line{
                    width: 100%;
                }
                .formStage{
                    margin-left: 5%;
                }
                .buttonStage{
                    button{
                        width: 30%;
                    }
                }
            }
            .right{
                flex: 100%;
                margin-right: 0%;
                .line{
                    width: 100%;
                }
                .cardStage{
                    margin-left: 15%;
                }
            }
        }
    }
}
@media screen and (max-width:414px){
    .contact{
        .contactInfoStage{
            flex-direction: column-reverse;
            .left{
                flex: 100%;
                margin-bottom: 5%;
                margin-left: 0%;
                .formInfo{
                    text-align: center;
                }
                .line{
                    width: 100%;
                }
                .formStage{
                    margin-left: 5%;
                    .buttonStage{
                        width: 100%;
                        button{
                            width: 35%;
                        }
                    }
                }
            }
            .right{
                flex: 100%;
                margin-right: 0%;
                margin-bottom: 5%;
                .line{
                    width: 100%;
                }
                .cardStage{
                    margin-left: 5%;
                }
            }
        }
    }
}
@media screen and (max-width:375px){
    .contact{
        .contactInfoStage{
            flex-direction: column-reverse;
            .left{
                flex: 100%;
                margin-bottom: 5%;
                margin-left: 0%;
                .formInfo{
                    text-align: center;
                }
                .line{
                    width: 100%;
                }
                .formStage{
                    margin-left: 5%;
                    .buttonStage{
                        width: 100%;
                        button{
                            width: 35%;
                        }
                    }
                }
            }
            .right{
                flex: 100%;
                margin-right: 0%;
                margin-bottom: 5%;
                .line{
                    width: 100%;
                }
                .cardStage{
                    margin-left: 5%;
                }
            }
        }
    }
}
@media screen and (max-width:320px){
    .contact{
        .contactInfoStage{
            flex-direction: column-reverse;
            .left{
                flex: 100%;
                margin-bottom: 5%;
                margin-left: 0%;
                .formInfo{
                    text-align: center;
                }
                .line{
                    width: 100%;
                }
                .formStage{
                    margin-left: 5%;
                    flex-direction: column;
                    .inputStage{
                        width: 100%;
                        margin-bottom: 10%;
                    }
                    .textareaStage{
                        margin-bottom: 10%;
                        textarea{
                            width: 100%;
                        }
                    }
                    .buttonStage{
                        width: 100%;
                        button{
                            width: 100%;
                        }
                    }
                }
            }
            .right{
                flex: 100%;
                margin-right: 0%;
                margin-bottom: 5%;
                .line{
                    width: 100%;
                }
                .cardStage{
                    margin-left: 5%;
                }
            }
        }
    }
}