@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.homeCarousel .carousel-root {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.homeCarousel .carousel-root .carousel .slide {
  height: 1024px;
}

.homeCarousel .carousel-root .carousel .slide img {
  width: 100%;
  height: 1024px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.homeCarousel .carousel-root .carousel .slide .myCarousel {
  margin-top: -30%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .lineStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .lineStage .line {
  width: 20%;
  border-bottom: 4px solid #ff3838;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel h3 {
  color: white;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1%;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel p {
  font-weight: 100;
  line-height: 29px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d3d3d;
  color: white;
  margin: 0 1rem;
  height: 100px;
  border-bottom: 5px solid #ff3838;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: default;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard .left {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard .left .topText {
  font-size: 1.5rem;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard .left .bottomText {
  font-size: 0.9rem;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard .right {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  margin-right: 10%;
  font-size: 2rem;
}

.homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard:hover {
  background-color: #ff3838;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.homeCarousel .carousel-root .carousel .control-dots {
  padding-left: 5px;
  outline: 0;
  bottom: 30%;
}

.homeCarousel .carousel-root .carousel .leftarrow {
  position: absolute;
  z-index: 2;
  top: 45%;
  width: 30;
  height: 30;
  cursor: pointer;
  left: 15px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #ff3838;
}

.homeCarousel .carousel-root .carousel .leftarrow:hover {
  opacity: 0.8;
}

.homeCarousel .carousel-root .carousel .rightarrow {
  position: absolute;
  z-index: 2;
  top: 45%;
  width: 30;
  height: 30;
  cursor: pointer;
  right: 15px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #ff3838;
}

.homeCarousel .carousel-root .carousel .rightarrow:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1440px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 900px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 900px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -40%;
  }
}

@media screen and (max-width: 1366px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 768px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 768px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -35%;
  }
}

@media screen and (max-width: 1280px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 720px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 720px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -35%;
  }
}

@media screen and (max-width: 1024px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 576px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 576px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -35%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 576px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 576px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -45%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 576px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 576px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -70%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard {
    width: 40%;
    margin: 1%;
  }
}

@media screen and (max-width: 414px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 650px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 650px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -125%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel h3 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard {
    width: 60%;
    margin: 1%;
  }
}

@media screen and (max-width: 375px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 650px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 650px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -140%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel h3 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard {
    width: 60%;
    margin: 1%;
  }
}

@media screen and (max-width: 320px) {
  .homeCarousel .carousel-root .carousel .slide {
    height: 568px;
  }
  .homeCarousel .carousel-root .carousel .slide img {
    height: 568px;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel {
    margin-top: -140%;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel h3 {
    font-size: 1.1rem;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeCarousel .carousel-root .carousel .slide .myCarousel .carouselCardStage .carouselCard {
    width: 70%;
    margin: 1%;
  }
}
/*# sourceMappingURL=MainCarousel.css.map */